.container header {
    display: flex;
    justify-content: space-between;

    h1 {
        width: 15rem;
        border-bottom: 1.5px solid purple;
        display: flex;
        align-items: baseline;
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-left: .8rem;
    }

    input[type=checkbox] {
        align-self: center;

        position: relative;
        width: 50px;
        height: 25px;
        appearance: none;
        background-color: var(--color-text);
        outline: none;
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgba(0,0,0, .2);
        transition: 0.5s;

        cursor: pointer;

        &:checked {
            background-color: var(--bg-color);
        }

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            top: 2px;
            left: 2px;
            background-color: var(--bg-color);
            box-shadow: 0 2px 5px rgba(0,0,0,.2);
            transition: 0.5s;
        }

    }

    input:checked[type=checkbox]:before {
        left: 28px;
        background-color: var(--color-text);
    }
}
